@import "../../style/common.scss";
.goodDetail-wrap {
    padding: 10px;
    .title {
        margin-top: 10px;
    }
    .desc {
        margin: 10px 0;
        font-size: 16px;
    }
    .image-wrap {
        text-align: center;
        image {}
    }
    .share-button {
        background-color: $blue;
        color: #fff;
        font-weight: bold;
        font-size: 18px;
    }
}