@import "../../../style/common.scss";
.upload-btn {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.upload-title {
    margin-top: .77em;
    margin-bottom: .3em;
    padding-left: 15px;
    padding-right: 15px;
    color: $blue;
    font-size: 16px;
}

.upload-wrap {
    padding-bottom: 50px;
    margin: auto auto;
    text-align: center;
    .upload-image {
        max-height: 200px;
    }
    .upload-pre-image {
        width: 160px;
        height: 120px;
    }
}