$blue:#3F78D4;
$grey:#CCC;
$grey-deep:#999;
$red:#FF2526;
.grey {
    color: $grey;
}

.grey-bg {
    background-color: $grey;
}

.size14 {
    font-size: 14px;
}

.grey-deep {
    color: $grey-deep;
}

.blue-btn {
    background-color: $blue;
    color: #fff;
}