@import "../../style/common.scss";
.header-wrap {
    margin: auto auto;
    text-align: center;
    padding: 50px 0;
    .user-name {
        margin-bottom: 50px;
    }
    .header-image {
        height: 100px;
        width: 100px;
        border-radius: 50%;
    }
    .welcome-btn {
        background-color: $blue;
        color: #fff;
    }
}